/* Paste in code from your old files to save time and avoid typos! */
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.text {
	color: white;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.left {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-wrap: wrap;
	
}
.box1 {
	background-color: black;
	height: 50%;
	width: 50%;
}
.box2 {
	background-color: #656161;
	height: 50%;
	width: 50%;
}
.box3 {
	background-color: #656161;
	height: 50%;
	width: 50%;
}
.box4 {
	background-color: black;
	height: 50%;
	width: 50%;
}

.right {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-wrap: wrap;
}
.box5 {
	background-color: black;
	height: 50%;
	width: 50%;
}
.box6 {
	background-color: #656161;
	height: 50%;
	width: 50%;
}
.box7 {
	background-color: #656161;
	height: 50%;
	width: 50%;
}
.box8 {
	background-color: black;
	height: 50%;
	width: 50%;
}
@media screen and (max-width: 800px) {
.left {
width: 100vw;
}
	.box1 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box2 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
	.box3 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box4 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
.right {
width: 100vw;
}
	.box5 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box6 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
	.box7 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box8 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
}
