/* Paste in code from your old files to save time and avoid typos! */
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
img {
	max-width: 100%;
	max-height: 100%;
}
a:link {
text-decoration: none;
    color: white;
}
a:visited {
text-decoration: none;
    color: white;
}
a:hover {
text-decoration: none;
    color: gray;
}
.text1:hover  {
	opacity: 0;
 }
.box1:hover .text1 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text2:hover  {
	opacity: 0;
 }
.box2:hover .text2 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text3:hover  {
	opacity: 0;
 }
.box3:hover .text3 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text4:hover  {
	opacity: 0;
 }
.box4:hover .text4 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text5:hover  {
	opacity: 0;
 }
.box5:hover .text5 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text6:hover  {
	opacity: 0;
 }
.box6:hover .text6 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text7:hover  {
	opacity: 0;
 }
.box7:hover .text7 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text8:hover  {
	opacity: 0;
 }
.box8:hover .text8 {
	opacity: 1;
	position: absolute;
	transition: 1.5s ease;
}
.text1 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 50;
  font-size: 10px;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text2 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 25vw;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text3 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text4 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 25vw;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text5 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 25vw;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text6 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text7 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 700px;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text8 {
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: 50;
  color: white;
  background-color: black;
  height: 50%;
  width: 25%;
}
.text {
	color: white;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	font-size: 50px;
}
.center-horizontal {
  display: flex;
	align-items:center;
}

.center-vertical {
  display: flex;
	justify-content: center;
	height: inherit;
}
.playtest {
	background:url(playtest.jpg);
}
.nosedive {
	background:url(nosedive.png);
}
.fmf {
	background:url(fmf.jpg);
}
.entirehistory {
	background:url(entirehistory.jpg);
}
.brb {
	background:url(brb.png);
}
.whitebear {
	background:url(whitebear.jpg);
}
.sanjun {
	background:url(sanjun.jpg);
}
.hated {
	background:url(hated.jpg);
}
.left {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-wrap: wrap;
}
.box1 {
	background-color: black;
	background-size: contain;
 	background-size: cover;
	height: 50%;
	width: 50%;
}
.box2 {
	background-color: #656161;
	background-size: contain;
  	background-size: cover;
	height: 50%;
	width: 50%;
}
.box3 {
	background-color: black;
	background-size: contain;
 	background-size: cover;
	height: 50%;
	width: 50%;
}
.box4 {
	background-color: #656161;
	background-size: contain;
  	background-size: cover;
	height: 50%;
	width: 50%;
}
.right {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-wrap: wrap;
}
.box5 {
	background-color: #656161;
	background-size: contain;
  	background-size: cover;
	height: 50%;
	width: 50%;
}
.box6 {
	background-color: black;
	background-size: contain;
 	background-size: cover;
	height: 50%;
	width: 50%;
}
.box7 {
	background-color: #656161;
	background-size: contain;
  	background-size: cover;
	height: 50%;
	width: 50%;
}
.box8 {
	background-color: black;
	background-size: contain;
  	background-size: cover;
	height: 50%;
	width: 50%;
}
@media screen and (max-width: 800px) {
.left {
width: 100vw;
}
	.box1 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box2 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
	.box3 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box4 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
.right {
width: 100vw;
}
	.box5 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box6 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
	.box7 {
	background-color: black;
	height: 25vh;
	width: 100vw;
}
	.box8 {
	background-color: #656161;
	height: 25vh;
	width: 100vw;
}
}
